.medic{
    flex: 1 1 auto;
}
.medical{
    padding:2.5% 15%;
    position: fixed;
    z-index: 1;
}
.inlines{
    margin-right:2.25%;
    font-weight: 500;
}

.anote{
    padding: 0.5% 2.2%;
    border: 2px solid #167ce9;
    border-radius: 35px;
    background-color: #167ce9;
    color:white;
    font-size: 1.05em;
}

.anote:hover{
    background-color: white;
    color: #167ce9;

}

.forbg{
    background-image: url('/assets/images/bg_1.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.front-div{
    background-color: #167ce9;
    opacity: 0.7;
    height: 680px;
    width:100%;
    background: linear-gradient(45deg, #167ce9 0%, #79efb4 100%);
}
.main{
    top:40%;
    left: 20%;
    right: 20%;
    text-align: center;
    position: absolute;
}
.outerdiv{
    display: flex;
}
.searo{
    width:25%;
    margin-left:12%;
    background-color: #167ce9;
}
.searo2{
    width: 70%;
    display: flex;
    float: right;
    flex-flow: row wrap;
}
.searo1{color: rgba(255, 255, 255, 0.6);
    
}
.searo1:hover{
    cursor: pointer;
    color: white;
}

.backdiv{
    background-image: url('/assets/images/backy.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 520px;
}

.univar1{
    width:50%;
    float:right;
    padding:30px 25px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2px;
}

.ingo{
    padding-left: 4%;
}
.backo{
    position: relative;
    top:50px;
}

.univar1:hover{
    padding-right: 130px;
    transition: 0.5s all ease;
}

.ptag{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.75em;
    font-weight: 500;
    padding-top: 12%;
    padding-bottom: 5%;
}

.fordoc{
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}

.innerdoc{
    margin-right: 25px;
}
.innerdoc:last-child{
    margin-right: 0px;
}

.pta{
    width:50%;
    margin-left: 12%;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 1.25em;
    font-weight: 500;
}

.abot{
    background-image: url('/assets/images/my-icons-collection/dna.jpg');
    background-size: cover;
    height: 520px;
    width:100%;
    
}
.foun{
    text-align: center;
    color: black;
    font-size: 1.10em;
    font-weight: 400;
}

.innerfooter{
    padding-left:17.5%;
    padding-right:17.5%;
    display: flex;
    flex-flow: row wrap;
    background-color: #39345a;
    opacity: 0.95;

}
.div1,.div2,.div3{
    width: 30%;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-right: 3%;
    line-height: 1.8;
}

.footer{
    background-image: url('/assets/images/bg_5.jpg');
    background-size: cover;
    width: 100%;
}

.heady{
    color: white;
    padding-bottom: 5%;
}
.site{
    text-align: center;
}

.work{
    color:rgba(255, 255, 255, 0.7);
}

